<h1>Vacation Country Destinations</h1>

<h3>Countries:</h3>
<div class="form_anchor"></div>

<% if @countries.any? %>
<ol>
  <% @countries.order(:name => :ASC).each do |country| %>
  <li>
    <p>
      <%= link_to country_path(country) do %>
        <%= country.name %> <%= "(" + country.sub_region + ")" if country.sub_region %>: <%= country.blurb %>
      <% end %>
    </p>
  </li>
  <% end %>
</ol>
<% else %>
  <p>No countries added yet!</p>
<% end %>
