/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


input  {
     width: 100%;
     margin-top: 1px;
     margin-bottom: 1px;
   }

.inline-label {
  font-weight: 500;
}

.blue {
  color: #337ab7;
}

.green {
  color: #0C8641;
  }

#error_explanation {
  background-color: #E73232;
  color: #FCE789;
  text-align: center;
  h2 {
    margin-top: 10px;
    padding-top: 8px
  }
  ul {
    background-color: #FCE789;
    color: #E73232;
    text-align: left;
  }
}

.flash-alert {
  background-color: #F24936;
  color: Yellow;
  padding-left: 5px;
}

.flash-notice {
  background-color: LightGreen;
  color: #2955D7;
  padding-left: 5px;
}

#post_content {
  width: 100%;
  height: 100px;
}

.image_cell {
  max-width: 550px;
}

 .map_container { height: 250px; }

 #map {
   height: 100%;
   max-width: 600px;
 }


/*******  DEBUG STYLES  ********

* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }

********************************/
